*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;

}

form{
    padding-bottom: 1em;
}

h1{
    padding: 0 0 2em;
}

header {
    background-color: rgb(0, 121, 121);
    display: inline-block;
    padding: 4em 2em 100% 2em;
    
}

main{
    padding: 4em;
}

h2{
    padding-bottom: 40px;
    padding-right: 40px;
    
}

section div{
    background-color: lightgray;
    box-shadow: 0 0 2px;
    padding: 14px;
    border-bottom: 6em solid white;
     
    
}


figure {
    padding: 2em 3em 25px 5em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    
    
}

section{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    
}

header nav ol a{
    text-decoration: none;
    color: white;   
    padding-bottom: 4em;

     

}

header nav li{
    padding-bottom: 14px;

}


header nav ol{
    list-style-type: none;

}

form nav {
    color: purple;
    margin: 0 auto;
    padding-left: 90%;
    
}






